<div class="row">
	<h2>商品詳細</h2>
  		<div class='col-xs-10'>
  			<div class="media">
    			<a class="media-left media-top"><%= attachment_image_tag @product, :image, :fill, 180, 180 %></a>
    			<div class="media-body">
						<p>商品名 <%= @product.product_name %></p>

						<p>商品説明 <%= @product.introduction %> </p>

						<p>ジャンル <%= @product.genre.variety %> </p>

						<p>税抜き価格 <%= @product.price %> 円</p>
				</div>
			</div>
		</div>
		<div class='col-xs-2'>
		<%=link_to "編集する", edit_admin_product_path, class: "btn btn-default" %>
		</div>
</div>